<table style="width: 100%; padding: 0; border-spacing: 0;">
    <tr>
        <td>
            <table>
                <tr>
                    <td style="border-radius: 2px; background-color: {{color}};">
                        <a href="{{link}}" target="_blank" style="padding: 8px 12px; border: 1px solid {{color}};border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: {{textColor}};text-decoration: none;font-weight:bold;display: inline-block;">
                            {{text}}
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>